body {
    /* For fixed navbar */
    padding-top: 50px;
}

.navbar-brand {
    padding: 10px;
}

.navbar-brand .logo {
    width: 100px;
    height: auto;
}

.navbar-default {
    border-color: #BDBDBD;
}

.navbar-my-profile-image {
    position: absolute;
    top: 10px;
    height: 30px;
    width: 30px;
}

.navbar-my-profile-text {
    display: inline-block;
    margin-left: 35px;
}

.red-bg {
    background-color: #EF5350;
}

.settings-icon, .logout-icon {
    margin-right: 5px;
}