body {
    /* For fixed navbar */
    padding-top: 50px;
}

ul.navbar-nav:nth-last-of-type(n + 2) {
    border-bottom: 1px solid #e7e7e7;
}

@media(min-width: 992px) {
    ul.navbar-nav:nth-last-of-type(n + 2) {
        border-bottom: 0;
    }
}

.navbar-brand {
    padding: 10px;
}

.navbar-brand .logo {
    width: 100px;
    height: auto;
}

.navbar-default {
    border-color: #BDBDBD;
}

.navbar-my-profile-image {
    position: absolute;
    top: 6px;
    height: 30px;
    width: 30px;
}

@media (min-width: 992px) {
    .navbar-my-profile-image {
        top: 10px;
    }
}

.navbar-my-profile-text {
    display: inline-block;
    margin-left: 35px;
}

.red-bg {
    background-color: #EF5350;
}

.navbar-more {
    display: inline;
}

@media (min-width: 992px) {
    .navbar-more {
        display: none;
    }
}

.settings-icon, .logout-icon {
    margin-right: 5px;
}
