<form id="user-search-form" class="navbar-form navbar-right" role="search" method="get"
      action="{{ url('search_bar:user_search') }}">
    <div class="form-group">
        <input
            id="user-search-form-input"
            type="text"
            name="q"
            class="form-control"
            placeholder="Find your friends!"
        >
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>
