{#{% extends "base.jinja" %}#}
{% block title %}
    Usernames
{% endblock %}
{% block content %}
    {% for username in usernames %}
        <h1>{{ username.username }}</h1>
        <p>
            {{ username.username }}
        </p>
    {% endfor %}
{% endblock %}