language: python
python: 2.7
cache:
  directories:
  - $HOME/.cache/pip
services:
- postgresql
- elasticsearch
install:
- pip install -r requirements.txt
- npm install
before_script:
- sleep 10
- psql -c "create user hmu with password 'hmu';" -U postgres
- psql -c "alter user hmu createdb;" -U postgres
- yes | python manage.py rebuild_index
script: python manage.py test
branches:
  only:
  - master
env:
  global:
  - secure: EsAsuZp7jyuGcrtdYo8HkrvBnnChj08MVmgqWnHh/g9tc5AJPocNTv+DRWOCN/R4tz7oqJTcvhWTPT6HtkXWhnmIGBsuke1McFa+C8OuJRBhcmf+fNDBRh7E4PuXCaOTUcG1hYa4g16qOqJa/CopeaOQjZa6gjDvPuutXxAR7as=
  - secure: swbp8Ep65hrmziyl33yw2wDyWleDn0SJFiPYYUzyxjQ/MPKLFMZdgCTTCmNONKKmq6e28RPrXGmWj18p8ZanGggAhwP6kV7br+pCZ4lSb85VQw2wshDmS+/s07u82qaChflDye24ih1ni8HOO2656+Vt5/6ANxu9d01DirGTCfg=
