{% extends "base.jinja" %}

{% block title %}
    Calendar
{% endblock %}

{% block content %}
    <div id='calendar'></div>

    <!-- Container for the create event modal, inserted with React -->
    <div id="create-event-modal-container"></div>

    <!-- Container for the event detail modal, inserted with React -->
    <div id="event-detail-modal-container"></div>

{% endblock %}