{% extends "base.jinja" %}

{% block title %}
    Calendar
{% endblock %}

{% block content %}
    <div class="container">
        <div id="calendar-container" class="panel panel-default">
            <div class="panel-body">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
    <div id="create-event-modal-container"></div>
    <div id="event-detail-modal-container"></div>
{% endblock %}
