{% extends "base.jinja" %}

{% block title %}
    Calendar
{% endblock %}

{% block content %}
    <div id='calendar'></div>

    <!-- This might be only HTML we need in this file. -->
    <div id="create-event-modal-container"></div>

    <div id="eventDetailModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Event Detail</h4>
                    <span id="start-time"></span> &mdash; <span id="end-time"></span>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt><span class="label label-default">Location</span></dt>
                        <dd id="location"></dd>
                        <dt><span class="label label-default">Calendar</span></dt>
                        <dd id="cal-title"></dd>
                        <dt><span class="label label-default">Description</span></dt>
                        <dd id="description"></dd>
                        <dt><span class="label label-default">Who's Going</span></dt>
                        <dd id="attendees"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

{% endblock %}