.main-content {
    margin-top: 20px;
}

.notification {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.notification.read {
    opacity: 0.7;
}

.notification-img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.notification-text {
    font-size: 1.5em;
}

.notification-time {
    font-size: 1em;
}

.body-container {
    display: inline;
}

.big-check {
    font-size: 40px;
    color: green;
}

.body-container {
    display: inline-block;
}

.check-container {
    display: inline-block;
    float: right;
}

.panel-body:hover{
    background-color: green;
    color: white;
    cursor: pointer;

}