body{
    background-color: #EFEFEF;

}
.main-content {
    margin-top: 20px;
}

.notification {
    word-wrap: break-word;
}

.notification.read {
    opacity: .5;
}

.notification-img {
    width: 125px;
    height: 125px;
    float: left;
    margin-right: 10px;
}

.notification-text {
    font-size: 1.7em;
}

.notification-time {
    font-size: 1em;
}

.body-container {
    display: inline;
}

a.panel {
    display: block;
    text-decoration: none;
    color: black;
}

.panel-default {
    border-color: #BDBDBD;
}

.panel-body {
    transition: background-color 0.2s ease;
}

.panel-body:hover{
    background-color: #E5E5E5;
    cursor:pointer;
}