{% block main %}

 <div>
{#  {% if user.is_authenticated() %}#}
 <!--      <script>window.location.replace("/")</script>-->
 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello!</a>

        <div class="user-details">
          You are logged in as <code>{{ user.username }}</code>!
        </div>
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
     </li>
   {% endif %}
   </ul>
 </p>
 </div>
{% endblock %}