{% extends 'base.jinja' %}

{% block title %}
    Google Login
{% endblock %}

{% block content %}
    <a href="{{ url('social:begin', 'google-oauth2') }}?next={{ request.path }}">Login with Google</a>
    <br />
    <br />
    {{ params }}
    <br />
    <br />
    {{ data }}
{% endblock %}