{% extends 'base.jinja' %}

{% block title %}
    Google Login
{% endblock %}

{% block content %}
    {% if user.is_authenticated() %}
        <a href="{{ url('google_login:do_logout') }}?next={{ request.path }}">Logout</a>
        <br />
        <br />
        {{ resp }}
    {% else %}
        <a href="{{ url('social:begin', 'google-oauth2') }}?next={{ request.path }}">Login with Google</a>
    {% endif %}
{% endblock %}