{% extends "base.jinja" %}

{% block title %}
    HitMeUp
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>HitMeUp.</h1>
            <h2>Kiss your scheduling problems goodbye.</h2>
        </div>
    </div>
{% endblock %}
