{% extends "base.jinja" %}

{% block title %}
    Edit Settings
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Edit Settings</h1>

        {% if success_messages %}
            {% for success in success_messages %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ success }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        {% if error_messages %}
            {% for error in error_messages %}
                <div class="form-error alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        {% for field in edit_form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="form-error alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ field.label_tag() }}
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}

        <div class="row edit-section">
            <div class="col-xs-12 col-md-2 edit-pic-col">
                <img
                    src="{{ profile_pic }}"
                    alt="Profile picture"
                    id ="pic"
                    class="img-thumbnail"
                >
                <div class="edit-pic-button-container">
                    <a href="https://en.gravatar.com/connect/" class="btn btn-primary">
                        Change profile picture
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 edit-info-col">
                <form id="edit-form" method="post" action="{{ url('user_accounts:settings') }}"
                      enctype="multipart/form-data">

                    {% csrf_token %}

                    {% for field in edit_form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">
                                {{ field.label }}
                            </label>
                            {{ field }}
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <button type="submit" name="save-changes" class="btn btn-primary">
                            Save changes
                        </button>
                        <button type="reset" name="reset-changes" class="btn btn-default">
                            Reset changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
