{% extends "base.jinja" %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div id="header">
        <div id="header-upper-half">
            <div class="container">
                <div id="header-upper-half-content">
                    <div id="username-container">
                        <h2>{{ profile.username }}</h2>
                        <div id="firstlastname-container">
                            {{ profile.first_name }} {{ profile.last_name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="header-lower-half">
            <div class="container">
                <div id="header-lower-half-content">
                    <img src="http://i.ytimg.com/vi/82yHd99YxnY/maxresdefault.jpg"
                         alt=""
                         id ="pic"
                         class="img-thumbnail">
                    <div id="button-container">
                        <a href="" id="friend-button">
                            Add as Friend
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="profile-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="panel panel-default" id="info-panel">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="fa-ul">
                                <li>
                                    <i class="fa-li fa fa-envelope"></i>
                                    {{ profile.email }}
                                </li>
                                <li>
                                    <i class="fa-li fa fa-phone"></i>
                                    {{ profile.phone }}
                                 </li>
                            </ul>
                        </li>
                        {% if profile.bio != '' %}
                            <li class="list-group-item">
                                <em>{{ profile.bio }}</em>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9">
                <div class="panel panel-default" id="calendar-panel">
                    <div class="panel-body">
                        <div id="calendar">
                            <script type="text/javascript">
                                $(document).ready(function(){
                                    $('#calendar').fullCalendar();
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}