{% extends "base.jinja" %}

{% block title %}
    More Information
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default signup-ext-panel">
            <div class="panel-heading">
                <h1 class="panel-title signup-ext-title">Tell us more about yourself.</h1>
                <p>
                    Don't worry, this is optional. You can change this information
                    at anytime in your Settings page.
                </p>
            </div>
            <div class="panel-body">
                {% for field in signup_extended_form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="form-error alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ field.label_tag() }} {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                <form id="signup_extended_form" method="post" enctype="multipart/form-data">

                    {% csrf_token %}

                    {% for field in signup_extended_form %}
                        <div class="form-group">
                            {{ field }}
                        </div>
                    {% endfor %}

                    <button type="submit" name="submit" class="btn btn-default">
                        Let's go!
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
