{% extends "communications/emails/base.jinja" %}

{% block content %}
    <p>
        Welcome to HitMeUp! You have signed up for one of the most amazing and powerful social network websites in the world.
        We can assure that HitMeUp will ease the process of making plans and creating events more than ever before.
        Please continually check back for updates. Happy networking!
    </p>
{%  endblock %}


