<html>
    <head>
    </head>
    <body>
    <div style="">
        <div style="">
            <p style=""> Hello, {{ profile.username }}</p>
            <br />
            <p style="">
                {{ "Welcome to HitMeUp!" }}
            </p>
            <br />
            <p style=""> Sincerely,</p>
            <p style=""> The HitMeUp Team</p>
            <br />
            <img src="{{ absolute_logo_uri }}static/communications/img/hitmeup_square.png"
                 alt="The official HitMeUp Logo" style="width:128px;height:128px"/>
            <img src="http://sd.keepcalm-o-matic.co.uk/i/keep-calm-and-hit-me-up-10.png"
                 alt="The official HitMeUp Logo" style="width:128px;height:128px"/>
        </div>
    </div>
    </body>
</html>