body {
    background-color: #e0e0e0;
}

#calendar-container {
    margin-top: 20px;
}

.modal-body textArea {
    max-width: 100%;
    min-width: 100%;
}

.fa-ul {
    margin-bottom: 0;
}

#desc-loc-container {
    word-wrap: break-word;
}

.days-picker {
    float: right !important;
}

#sync-button-wrapper {
    text-align: right;
    margin-bottom: 10px;
}