{% extends 'base.jinja' %}

{% block title %}
    Error - 400
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>400.</h1>
            <h2>Bad request, please try again.</h2>
        </div>
    </div>
{% endblock %}
