{% extends 'base.jinja' %}

{% block title %}
    Error - 403
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>403.</h1>
            <h2>You have insufficient privileges to view this page.</h2>
        </div>
    </div>
{% endblock %}
