{% extends 'base.jinja' %}

{% block title %}
    404
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>404.</h1>
            <h2>We couldn't find the page you requested.</h2>
        </div>
    </div>
{% endblock %}
