{% extends 'base.jinja' %}

{% block title %}
    404
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>We couldn't find the page you requested.</h1>
        </div>
    </div>
{% endblock %}
