{% extends 'base.jinja' %}

{% block title %}
    Error - 500
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>500.</h1>
            <h2>Our bad. We're working hard on fixing this problem.</h2>
        </div>
    </div>
{% endblock %}
