{% extends 'base.jinja' %}

{% block title %}
    Notifications
{% endblock %}

{% block content %}
    <div class="main-content">
        <div id="notification-list-container"></div>
    </div>
{% endblock %}
