/* TODO: More specific CSS classes */

body {
    /*
    background-color: #eceff1;
    */
}

#main-content {
    margin-top: 20px;
}

.panel-default {
    /*
    border-color: #cfd8dc;
    background-color: #b0bec5;
    */
}

.profile-pic-container {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.profile-pic {
    height: 100px;
    width: 100px;
    border: solid darkgrey 1px;
}

.profile-info-container {
    padding-top: 15px;
    width: 60%;
    display: inline-block;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa-heart, .fa-heart-o {
    color: #ff4081;
}

.free, .fa-check-circle {
    color: #42ED51;
}

.busy, .fa-clock-o {
    color: #d50000;
}
