/* TODO: More specific CSS classes */

body {
    background-color: #e0e0e0;
}

#main-content {
    margin-top: 20px;
}

.panel-default {
    border-color: #bdbdbd;
}

.profile-pic-container {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.profile-pic {
    height: 100px;
    width: 100px;
    border: solid darkgrey 1px;
}

.profile-info-container {
    pointer-events: none;
    width: calc(100% - 110px);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.overflow-control {
    position: relative;
    pointer-events: none;
}

.overflow-control:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr='#ffffff',
            endColorstr='#00ffffff',
            GradientType=0
    );
    background: -webkit-linear-gradient(
            right,
            rgba(255,255,255,1) 0px,
            rgba(255,255,255,0) 20px
    );
    background: -moz-linear-gradient(
            right,
            rgba(255,255,255,1) 0px,
            rgba(255,255,255,0) 20px
    );
    background: -ms-linear-gradient(
            right,
            rgba(255,255,255,1) 0px,
            rgba(255,255,255,0) 20px
    );
    background: -o-linear-gradient(
            right,
            rgba(255,255,255,1) 0px,
            rgba(255,255,255,0) 20px
    );
    background: linear-gradient(
            right,
            rgba(255,255,255,1) 0px,
            rgba(255,255,255,0) 20px
    );
    pointer-events: none;
}

.fa-ul {
    pointer-events: all;
}

.calendar-link:hover {
    text-decoration: none;
}
.fa-heart, .fa-heart-o {
    color: #ff4081;
}

.free, .fa-check-circle {
    color: #42ED51;
}

.busy, .fa-clock-o {
    color: #d50000;
}
